#root {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}

/* Custom styling for the editor area */
.lyrics-editor-textarea {
  font-family: 'Merriweather', serif;
  line-height: 1.8;
}

/* Override default button styling for a cleaner look */
button:hover {
  border-color: none;
}